@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #edecea;
    background-color: #171d20;
    font-family: 'Open Sans', sans-serif;
}

code {
    color:#6fffe9;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #f4780c;
}

.wide {
    width: 100%;
}

.middle {
    display: flex;
    align-self: center;
    /* width: 100%; */
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-evenly;
}

.slides {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.slide {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    scroll-snap-align: start;
}

.slide h1 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    color: #f4780c;
}

.slide h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    color: #db257a;
}

.slide h3 {
    margin: 0 0 1rem 0;
}

.slide.title {
    width: 80%;
    margin-left: 20%;
    padding: 0 20% 0 5%;
    background-color: #251a5b;
}

.slide.title h1 {
    margin: 0;
    font-size: 4rem;
    color: #eae2b7;
}

.slide.title h2 {
    margin-top: 1rem;
    font-size: 3rem;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.1rem #00000055;
    background-color: #101416;
}

.field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.1rem #00000055;
    background-color: #1e2529;
}

.field-2 {
    background-color: #281e29;
}

input.wide {
    width: 340px;
}

.references {
    opacity: 0.8;
}

#output-hex {
    text-transform: uppercase;
}

#result-color {
    width: 200px;
    height: 200px;
}
